@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}


h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #020202;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, #4069ea 0%, #2957e7 100%);
  color:white;
}
#logo {
  width:70px;
  height:70px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:55vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}



.button {
  margin : 0 auto;
  margin-top : 10px;
  width : 200px;
  height : 50px;
  background : #01a3a4;
  overflow : hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius : 5px;
}
.hover {
  position : relative;
  border : 3px solid rgb(255, 251, 251);
  width : 200px;
  height : 200px;
  margin-top: -100px;
  background : #2e86de;
  left : -250px;
  transition : .3s;
  transform : rotate(20deg);
  opacity : .8;
}
.clic {
  color : white;
  transition : .3s;
}
.button:hover .hover{
  left: -145px;
}
.button:hover .clic{
  margin-left : 80px;
}
.sure {
  margin-top : 37px;
  margin-right : -135px;
  color : rgb(255, 255, 255);
  transform : rotate(-20deg);
}

.button:active {
  box-shadow: 2px 2px 1px white;
}
